# B. Creation of new variables

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
immo_data = pd.read_csv('filtered_dataset_house_appartment.csv', sep=',', na_values=['None', 'no price'])

In [3]:
immo_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42352 entries, 0 to 42351
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   locality                42352 non-null  int64
 1   type_of_property        42352 non-null  object
 2   subtype_of_property     42352 non-null  object
 3   price                   42352 non-null  int64
 4   number_of_rooms         42352 non-null  int64
 5   house_area              42225 non-null  float64
 6   fully_equipped_kitchen  42352 non-null  int64
 7   open_fire               42352 non-null  int64
 8   terrace                 42352 non-null  int64
 9   terrace_area            16295 non-null  float64
 10  garden                  42352 non-null  int64
 11  garden_area             7864 non-null   float64
 12  surface_of_the_land     22365 non-null  float64
 13  number_of_facades       31708 non-null  float64
 14  swimming_pool           42352 non-null  int64
 15  state_of_the_building   32096 non-null  object
 16  construction_year       26136 non-null  float64
dtypes: float64(6), int64(8), object(3)
memory usage: 5.5+ MB

## Creation de variable provinces

Codes postaux par provinces:
- 1000–1299 : Drapeau de la Région de Bruxelles-Capitale Région de Bruxelles-Capitale
- 1300–1499 : Drapeau de la province du Brabant wallon Province du Brabant wallon
- 1500–1999 : Drapeau du Brabant flamand Province du Brabant flamand (arrondissement de Hal-Vilvorde, sauf Overijse)
- 2000–2999 : Drapeau de la province d'Anvers Province d'Anvers
- 3000–3499 : Drapeau du Brabant flamand Province du Brabant flamand (arrondissement de Louvain, plus Overijse)
- 3500–3999 : Drapeau de la Province de Limbourg Province de Limbourg
- 4000–4999 : Drapeau de la province de Liège Province de Liège
- 5000–5999 : Drapeau de la province de Namur Province de Namur
- 6000–6599 : Drapeau de la province de Hainaut Province de Hainaut (1)
- 6600–6999 : Drapeau de la province de Luxembourg Province de Luxembourg
- 7000–7999 : Drapeau de la province de Hainaut Province de Hainaut (2)
- 8000–8999 : Drapeau de la province de Flandre-Occidentale Province de Flandre-Occidentale
- 9000–9999 : Drapeau de la province de Flandre-Orientale Province de Flandre-Orientale

In [4]:
def ident_province(x):
    if x >= 1000 and x <=1299 :
        return 'Bruxelles-Capitale'
    elif x >= 1300 and x <= 1499 :
        return 'Brabant wallon'
    elif x >= 1500 and x <= 1999 :
        return 'Brabant flamand'
    elif x >= 2000 and x <= 2999 :
        return 'Anvers'
    elif x >= 3000 and x <=3499 :
        return 'Brabant flamand'
    elif x >= 3500 and x <= 3999 :
        return 'Limbourg'
    elif x >= 4000 and x <= 4999 :
        return 'Liège'
    elif x >= 5000 and x <=5999 :
        return 'Namur'
    elif x >= 6000 and x <= 6599 :
        return 'Hainaut'
    elif x >= 6600 and x <=6999 :
        return 'Luxembourg'
    elif x >= 7000 and x <= 7999 :
        return 'Hainaut'
    elif x >= 8000 and x <=8999 :
        return 'Flandre-Occidentale'
    elif x >= 9000 and x <=9999 :
        return 'Flandre-Orientale'
    else:
        pass

In [5]:
immo_data['province'] = immo_data['locality'].apply(ident_province)

In [6]:
immo_data['province'].value_counts()

Flandre-Occidentale    7670
Anvers                 5510
Flandre-Orientale      5234
Hainaut                4348
Bruxelles-Capitale     4260
Liège                  4179
Brabant flamand        3888
Limbourg               2625
Brabant wallon         1806
Namur                  1650
Luxembourg             1182
Name: province, dtype: int64

## Creation de variable région

In [7]:
def ident_region(x):
    if x == 'Flandre-Occidentale' or x =='Flandre-Orientale' or x == 'Anvers' or x =='Brabant flamand' or x == 'Limbourg':
        return 'Région flamande'
    elif x == 'Hainaut' or x == 'Liège' or x=='Namur' or x=='Brabant wallon' or x=='Luxembourg':
        return 'Région wallonne'
    else : 
        return 'Région Bruxelles-capitale'

In [8]:
immo_data['région'] = immo_data['province'].apply(ident_region)

In [9]:
immo_data['région'].value_counts()

Région flamande              24927
Région wallonne              13165
Région Bruxelles-capitale     4260
Name: région, dtype: int64

## Creation catégories number_of_rooms_cat

In [10]:
# immo_data.number_of_rooms.value_counts()

In [11]:
def numb_room_ceil(x):
    if x < 5 :
        return f'{int(x)} chambre(s)'
    else:
        return '5 et plus'

In [12]:
immo_data['number_of_rooms_cat'] = immo_data.number_of_rooms.apply(numb_room_ceil)

In [13]:
immo_data.number_of_rooms_cat.value_counts()

2 chambre(s)    14063
3 chambre(s)    13564
4 chambre(s)     5936
1 chambre(s)     4313
5 et plus        3659
0 chambre(s)      817
Name: number_of_rooms_cat, dtype: int64

## Maintien de variable subtype_of_property

In [14]:
immo_data.groupby(['type_of_property', 'subtype_of_property']).subtype_of_property.count()

type_of_property  subtype_of_property
apartment         apartment               15329
                  duplex                   1278
                  flat studio               724
                  ground floor             1098
                  kot                        67
                  loft                      199
                  penthouse                 830
                  service flat              255
                  triplex                    72
house             apartment block           794
                  bungalow                  226
                  castle                      7
                  chalet                    112
                  country cottage           236
                  exceptional property      381
                  farmhouse                  98
                  house                   16651
                  manor house                68
                  mansion                   394
                  mixed use building        741
                  other property             58
                  pavilion                    1
                  town house                356
                  villa                    2377
Name: subtype_of_property, dtype: int64

## Création catégories house_area

In [15]:
immo_data.house_area.describe()

count    42225.000000
mean       151.293025
std         89.341495
min         11.000000
25%         90.000000
50%        129.000000
75%        185.000000
max        710.000000
Name: house_area, dtype: float64

In [16]:
def h_area_cat(x):
    if x <= 60 :
        return '[0-60 m²]'
    elif x > 60 and x <= 120:
        return ']60-120 m²]'
    elif x > 120 and x <= 180:
        return ']120-180 m²]'
    elif x > 180 and x <= 240:
        return ']180-240 m²]'
    elif x > 240:
        return ']240m²- ]'
    else:
        pass

In [17]:
immo_data['house_area_cat'] = immo_data.house_area.apply(h_area_cat)

In [18]:
immo_data['house_area_cat'].value_counts()

]60-120 m²]     16825
]120-180 m²]    11653
]180-240 m²]     5803
]240m²- ]        5245
[0-60 m²]        2699
Name: house_area_cat, dtype: int64

## Création catégories surface_of_the_land

In [19]:
immo_data.surface_of_the_land.describe()

count    22365.000000
mean       754.198211
std       1311.579199
min          0.000000
25%        153.000000
50%        360.000000
75%        830.000000
max      15444.000000
Name: surface_of_the_land, dtype: float64

In [20]:
def l_area_cat(x):
    if x <= 500 :
        return '[0-5 ares]'
    elif x > 500 and x <= 1000:
        return ']5-10 ares]'
    elif x > 1000 and x <= 5000:
        return ']10-50 ares]'
    elif x > 5000 :
        return ']50 ares- ]'
    else:
        pass

In [21]:
immo_data['surface_of_the_land_cat'] = immo_data.surface_of_the_land.apply(l_area_cat)

In [22]:
immo_data['surface_of_the_land_cat'].value_counts()

[0-5 ares]      13482
]5-10 ares]      4491
]10-50 ares]     3978
]50 ares- ]       414
Name: surface_of_the_land_cat, dtype: int64

## Création catégories construction_year

In [23]:
immo_data.construction_year.value_counts()

2020.0    3295
2019.0    1956
2018.0     912
1930.0     566
1970.0     525
          ...
1887.0       1
1862.0       1
1876.0       1
1781.0       1
1854.0       1
Name: construction_year, Length: 216, dtype: int64

In [24]:
def year_cat(x):
    if x < 1900 :
        return 'older than 1900'
    elif x >= 1900 and x < 1920:
        return '1900-1919'
    elif x >= 1920 and x < 1940:
        return '1920-1939'
    elif x >= 1940 and x < 1960:
        return '1940-1959'
    elif x >= 1960 and x < 1980:
        return '1960-1979'
    elif x >= 1980 and x < 2000:
        return '1980-1999'
    elif x >= 2000:
        return '2000- '
    else:
        pass

In [25]:
immo_data['construction_year_cat'] = immo_data.construction_year.apply(year_cat)

In [26]:
immo_data.construction_year_cat.value_counts()

2000-              11813
1960-1979           5673
1980-1999           3248
1940-1959           2173
1920-1939           1719
1900-1919            801
older than 1900      709
Name: construction_year_cat, dtype: int64

In [27]:
immo_data.groupby('construction_year_cat').price.mean()

construction_year_cat
1900-1919          364442.443196
1920-1939          343615.012798
1940-1959          317097.903359
1960-1979          311683.069981
1980-1999          377431.095443
2000-              331006.807246
older than 1900    385770.943583
Name: price, dtype: float64

# Saving subset as csv

In [28]:
immo_data.columns[[3,5]]

Index(['price', 'house_area'], dtype='object')

In [29]:
immo_data.columns

Index(['locality', 'type_of_property', 'subtype_of_property', 'price',
       'number_of_rooms', 'house_area', 'fully_equipped_kitchen', 'open_fire',
       'terrace', 'terrace_area', 'garden', 'garden_area',
       'surface_of_the_land', 'number_of_facades', 'swimming_pool',
       'state_of_the_building', 'construction_year', 'province', 'région',
       'number_of_rooms_cat', 'house_area_cat', 'surface_of_the_land_cat',
       'construction_year_cat'],
      dtype='object')

In [30]:
immo_to_keep  = immo_data[['type_of_property', 'subtype_of_property','locality', 'province', 'région',
       'price', 'number_of_facades', 'house_area', 'house_area_cat', 'number_of_rooms','number_of_rooms_cat',  'surface_of_the_land', 'surface_of_the_land_cat',
       'fully_equipped_kitchen', 'garden', 'garden_area','terrace', 'terrace_area', 'open_fire',
         'swimming_pool', 'state_of_the_building', 'construction_year', 'construction_year_cat']]

In [31]:
immo_to_keep

,type_of_property,subtype_of_property,locality,province,région,price,number_of_facades,house_area,house_area_cat,number_of_rooms,...,fully_equipped_kitchen,garden,garden_area,terrace,terrace_area,open_fire,swimming_pool,state_of_the_building,construction_year,construction_year_cat
0,house,house,1050,Bruxelles-Capitale,Région Bruxelles-capitale,340000,2.0,203.0,]180-240 m²],6,...,1,0,NaN,1,NaN,0,0,to be done up,1901.0,1900-1919
1,house,villa,1880,Brabant flamand,Région flamande,525000,4.0,250.0,]240m²- ],6,...,1,1,430.0,1,40.0,0,0,as new,1992.0,1980-1999
2,house,exceptional property,4900,Liège,Région wallonne,550000,4.0,475.0,]240m²- ],11,...,1,1,1400.0,1,NaN,0,0,good,1853.0,older than 1900
3,house,villa,7912,Hainaut,Région wallonne,550000,4.0,325.0,]240m²- ],4,...,1,1,2333.0,1,NaN,0,0,good,1918.0,1900-1919
4,house,house,6032,Hainaut,Région wallonne,550000,3.0,400.0,]240m²- ],5,...,1,1,500.0,1,80.0,0,0,as new,1977.0,1960-1979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42347,house,house,2310,Anvers,Région flamande,468000,4.0,180.0,]120-180 m²],3,...,1,0,NaN,0,NaN,0,0,NaN,NaN,None
42348,house,house,1800,Brabant flamand,Région flamande,454993,3.0,169.0,]120-180 m²],3,...,0,0,NaN,0,NaN,0,0,NaN,NaN,None
42349,house,villa,3530,Limbourg,Région flamande,475000,4.0,222.0,]180-240 m²],3,...,0,0,NaN,0,NaN,0,0,NaN,NaN,None
42350,house,mansion,6700,Luxembourg,Région wallonne,475000,2.0,240.0,]180-240 m²],9,...,0,0,NaN,0,NaN,0,0,NaN,NaN,None
42351,house,house,2018,Anvers,Région flamande,488000,3.0,145.0,]120-180 m²],3,...,0,1,48.0,0,NaN,0,0,NaN,NaN,None

In [32]:
immo_to_keep.to_csv('DEF_IMMO.csv')

In [ ]:
#df = df.drop(labels='type_of_sale', axis=1)
#df = df.drop(labels='furnished', axis=1)
#df = df.drop(labels='surface_of_the_plot_of_land', axis=1)