# B. Creation of new variables

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [56]:
immo_data = pd.read_csv('Final_dataset_house_apartment.csv', sep=',', na_values=['None', 'no price'])

In [57]:
immo_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50842 entries, 0 to 50841
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   50842 non-null  int64
 1   locality                     50842 non-null  int64
 2   type_of_property             50842 non-null  object
 3   subtype_of_property          50842 non-null  object
 4   price                        50772 non-null  float64
 5   type_of_sale                 50842 non-null  object
 6   number_of_rooms              50842 non-null  float64
 7   house_area                   42412 non-null  float64
 8   fully_equipped_kitchen       50842 non-null  int64
 9   furnished                    0 non-null      float64
 10  open_fire                    50842 non-null  int64
 11  terrace                      50842 non-null  int64
 12  terrace_area                 17096 non-null  float64
 13  garden                       50842 non-null  int64
 14  garden_area                  8350 non-null   float64
 15  surface_of_the_land          29002 non-null  float64
 16  surface_of_the_plot_of_land  0 non-null      float64
 17  number_of_facades            37736 non-null  float64
 18  swimming_pool                50842 non-null  int64
 19  state_of_the_building        37670 non-null  object
 20  construction_year            29883 non-null  float64
dtypes: float64(10), int64(7), object(4)
memory usage: 8.1+ MB

## Creation de variable provinces

Codes postaux par provinces:
- 1000–1299 : Drapeau de la Région de Bruxelles-Capitale Région de Bruxelles-Capitale
- 1300–1499 : Drapeau de la province du Brabant wallon Province du Brabant wallon
- 1500–1999 : Drapeau du Brabant flamand Province du Brabant flamand (arrondissement de Hal-Vilvorde, sauf Overijse)
- 2000–2999 : Drapeau de la province d'Anvers Province d'Anvers
- 3000–3499 : Drapeau du Brabant flamand Province du Brabant flamand (arrondissement de Louvain, plus Overijse)
- 3500–3999 : Drapeau de la Province de Limbourg Province de Limbourg
- 4000–4999 : Drapeau de la province de Liège Province de Liège
- 5000–5999 : Drapeau de la province de Namur Province de Namur
- 6000–6599 : Drapeau de la province de Hainaut Province de Hainaut (1)
- 6600–6999 : Drapeau de la province de Luxembourg Province de Luxembourg
- 7000–7999 : Drapeau de la province de Hainaut Province de Hainaut (2)
- 8000–8999 : Drapeau de la province de Flandre-Occidentale Province de Flandre-Occidentale
- 9000–9999 : Drapeau de la province de Flandre-Orientale Province de Flandre-Orientale

In [58]:
def ident_province(x):
    if x >= 1000 and x <=1299 :
        return 'Bruxelles-Capitale'
    elif x >= 1300 and x <= 1499 :
        return 'Brabant wallon'
    elif x >= 1500 and x <= 1999 :
        return 'Brabant flamand'
    elif x >= 2000 and x <= 2999 :
        return 'Anvers'
    elif x >= 3000 and x <=3499 :
        return 'Brabant flamand'
    elif x >= 3500 and x <= 3999 :
        return 'Limbourg'
    elif x >= 4000 and x <= 4999 :
        return 'Liège'
    elif x >= 5000 and x <=5999 :
        return 'Namur'
    elif x >= 6000 and x <= 6599 :
        return 'Hainaut'
    elif x >= 6600 and x <=6999 :
        return 'Luxembourg'
    elif x >= 7000 and x <= 7999 :
        return 'Hainaut'
    elif x >= 8000 and x <=8999 :
        return 'Flandre-Occidentale'
    elif x >= 9000 and x <=9999 :
        return 'Flandre-Orientale'
    else:
        pass

In [59]:
immo_data['province'] = immo_data['locality'].apply(ident_province)

In [60]:
immo_data['province'].value_counts()

Flandre-Occidentale    10120
Flandre-Orientale       6438
Anvers                  6309
Hainaut                 5681
Liège                   4929
Brabant flamand         4440
Bruxelles-Capitale      4394
Limbourg                3109
Namur                   2038
Brabant wallon          1912
Luxembourg              1472
Name: province, dtype: int64

## Creation de variable région

In [61]:
def ident_region(x):
    if x == 'Flandre-Occidentale' or x =='Flandre-Orientale' or x == 'Anvers' or x =='Brabant flamand' or x == 'Limbourg':
        return 'Région flamande'
    elif x == 'Hainaut' or x == 'Liège' or x=='Namur' or x=='Brabant wallon' or x=='Luxembourg':
        return 'Région wallonne'
    else : 
        return 'Région Bruxelles-capitale'

In [62]:
immo_data['région'] = immo_data['province'].apply(ident_region)

In [63]:
immo_data['région'].value_counts()

Région flamande              30416
Région wallonne              16032
Région Bruxelles-capitale     4394
Name: région, dtype: int64

## Creation catégories number_of_rooms_cat

In [64]:
# immo_data.number_of_rooms.value_counts()

In [65]:
def numb_room_ceil(x):
    if x < 5 :
        return f'{int(x)} chambre(s)'
    else:
        return '5 et plus'

In [66]:
immo_data['number_of_rooms_cat'] = immo_data.number_of_rooms.apply(numb_room_ceil)

In [67]:
immo_data.number_of_rooms_cat.value_counts()

3 chambre(s)    16861
2 chambre(s)    16184
4 chambre(s)     7282
1 chambre(s)     4972
5 et plus        4412
0 chambre(s)     1131
Name: number_of_rooms_cat, dtype: int64

## Maintien de variable subtype_of_property

In [68]:
immo_data.groupby(['type_of_property', 'subtype_of_property']).subtype_of_property.count()

type_of_property  subtype_of_property
apartment         apartment               16904
                  duplex                   1371
                  flat studio               852
                  ground floor             1170
                  kot                        84
                  loft                      216
                  penthouse                 886
                  service flat              284
                  triplex                    73
house             apartment block          1039
                  bungalow                  280
                  castle                     10
                  chalet                    138
                  country cottage           317
                  exceptional property      447
                  farmhouse                 143
                  house                   21810
                  manor house                85
                  mansion                   459
                  mixed use building        983
                  other property             85
                  pavilion                    1
                  town house                409
                  villa                    2796
Name: subtype_of_property, dtype: int64

## Création catégories house_area

In [69]:
immo_data.house_area.describe()

count    42412.000000
mean       154.724158
std        185.137627
min          1.000000
25%         91.000000
50%        130.000000
75%        186.000000
max      31700.000000
Name: house_area, dtype: float64

In [70]:
def h_area_cat(x):
    if x <= 60 :
        return '[0-60 m²]'
    elif x > 60 and x <= 120:
        return ']60-120 m²]'
    elif x > 120 and x <= 180:
        return ']120-180 m²]'
    elif x > 180 and x <= 240:
        return ']180-240 m²]'
    elif x > 240:
        return ']240m²- ]'
    else:
        pass

In [71]:
immo_data['house_area_cat'] = immo_data.house_area.apply(h_area_cat)

In [72]:
immo_data['house_area_cat'].value_counts()

]60-120 m²]     16843
]120-180 m²]    11666
]180-240 m²]     5807
]240m²- ]        5386
[0-60 m²]        2710
Name: house_area_cat, dtype: int64

## Création catégories surface_of_the_land

In [73]:
immo_data.surface_of_the_land.describe()

count     29002.00000
mean        999.31484
std        5055.03166
min           0.00000
25%         143.00000
50%         351.00000
75%         814.75000
max      400000.00000
Name: surface_of_the_land, dtype: float64

In [74]:
def l_area_cat(x):
    if x <= 500 :
        return '[0-5 ares]'
    elif x > 500 and x <= 1000:
        return ']5-10 ares]'
    elif x > 1000 and x <= 5000:
        return ']10-50 ares]'
    elif x > 5000 :
        return ']50 ares- ]'
    else:
        pass

In [75]:
immo_data['surface_of_the_land_cat'] = immo_data.surface_of_the_land.apply(l_area_cat)

In [76]:
immo_data['surface_of_the_land_cat'].value_counts()

[0-5 ares]      17705
]5-10 ares]      5705
]10-50 ares]     4869
]50 ares- ]       723
Name: surface_of_the_land_cat, dtype: int64

## Création catégories construction_year

In [77]:
immo_data.construction_year.value_counts()

2020.0    3766
2019.0    2211
2018.0    1021
1930.0     636
1970.0     601
          ...
1822.0       1
1801.0       1
1809.0       1
1781.0       1
1791.0       1
Name: construction_year, Length: 219, dtype: int64

In [78]:
def year_cat(x):
    if x < 1900 :
        return 'older than 1900'
    elif x >= 1900 and x < 1920:
        return '1900-1919'
    elif x >= 1920 and x < 1940:
        return '1920-1939'
    elif x >= 1940 and x < 1960:
        return '1940-1959'
    elif x >= 1960 and x < 1980:
        return '1960-1979'
    elif x >= 1980 and x < 2000:
        return '1980-1999'
    elif x >= 2000:
        return '2000- '
    else:
        pass

In [79]:
immo_data['construction_year_cat'] = immo_data.construction_year.apply(year_cat)

In [80]:
immo_data.construction_year_cat.value_counts()

2000-              13258
1960-1979           6591
1980-1999           3750
1940-1959           2612
1920-1939           1979
1900-1919            895
older than 1900      798
Name: construction_year_cat, dtype: int64

In [81]:
immo_data.groupby('construction_year_cat').price.mean()

construction_year_cat
1900-1919          355632.319865
1920-1939          334528.870511
1940-1959          307598.571099
1960-1979          307779.894529
1980-1999          371730.847693
2000-              328738.312778
older than 1900    377510.204774
Name: price, dtype: float64

# Saving subset as csv

In [82]:
immo_data.columns[[3,5]]

Index(['subtype_of_property', 'type_of_sale'], dtype='object')

In [83]:
immo_data.columns

Index(['Unnamed: 0', 'locality', 'type_of_property', 'subtype_of_property',
       'price', 'type_of_sale', 'number_of_rooms', 'house_area',
       'fully_equipped_kitchen', 'furnished', 'open_fire', 'terrace',
       'terrace_area', 'garden', 'garden_area', 'surface_of_the_land',
       'surface_of_the_plot_of_land', 'number_of_facades', 'swimming_pool',
       'state_of_the_building', 'construction_year', 'province', 'région',
       'number_of_rooms_cat', 'house_area_cat', 'surface_of_the_land_cat',
       'construction_year_cat'],
      dtype='object')

In [96]:
immo_to_keep  = immo_data[['type_of_property', 'subtype_of_property','locality', 'province', 'région',
       'price', 'number_of_facades', 'house_area', 'house_area_cat', 'number_of_rooms','number_of_rooms_cat',  'surface_of_the_land', 'surface_of_the_land_cat',
       'fully_equipped_kitchen', 'garden', 'garden_area','terrace', 'terrace_area', 'open_fire',
         'swimming_pool', 'state_of_the_building', 'construction_year', 'construction_year_cat']]

In [97]:
immo_to_keep

,type_of_property,subtype_of_property,locality,province,région,price,number_of_facades,house_area,house_area_cat,number_of_rooms,...,fully_equipped_kitchen,garden,garden_area,terrace,terrace_area,open_fire,swimming_pool,state_of_the_building,construction_year,construction_year_cat
0,house,house,1050,Bruxelles-Capitale,Région Bruxelles-capitale,340000.0,2.0,203.0,]180-240 m²],6.0,...,1,0,NaN,1,NaN,0,0,to be done up,1901.0,1900-1919
1,house,villa,1880,Brabant flamand,Région flamande,525000.0,4.0,250.0,]240m²- ],6.0,...,1,1,430.0,1,40.0,0,0,as new,1992.0,1980-1999
2,house,exceptional property,4900,Liège,Région wallonne,550000.0,4.0,475.0,]240m²- ],11.0,...,1,1,1400.0,1,NaN,0,0,good,1853.0,older than 1900
3,house,villa,7912,Hainaut,Région wallonne,550000.0,4.0,325.0,]240m²- ],4.0,...,1,1,2333.0,1,125.0,0,0,good,1918.0,1900-1919
4,house,house,6032,Hainaut,Région wallonne,550000.0,3.0,400.0,]240m²- ],5.0,...,1,1,500.0,1,80.0,0,0,as new,1977.0,1960-1979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50837,house,house,3120,Brabant flamand,Région flamande,455496.0,NaN,NaN,None,3.0,...,0,0,NaN,0,NaN,0,0,NaN,NaN,None
50838,house,house,1800,Brabant flamand,Région flamande,451650.0,3.0,NaN,None,3.0,...,0,0,NaN,0,NaN,0,0,NaN,NaN,None
50839,house,house,2018,Anvers,Région flamande,488000.0,3.0,145.0,]120-180 m²],3.0,...,0,1,48.0,0,NaN,0,0,NaN,NaN,None
50840,house,house,9140,Flandre-Orientale,Région flamande,455000.0,4.0,NaN,None,3.0,...,0,0,NaN,0,NaN,0,0,NaN,NaN,None
50841,house,house,9620,Flandre-Orientale,Région flamande,469000.0,4.0,NaN,None,3.0,...,0,0,NaN,0,NaN,0,0,NaN,NaN,None

In [98]:
immo_to_keep.to_csv('immo_var_to_keep.csv')

In [ ]:
#df = df.drop(labels='type_of_sale', axis=1)
#df = df.drop(labels='furnished', axis=1)
#df = df.drop(labels='surface_of_the_plot_of_land', axis=1)