# C. Descriptive : sample description

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
to_keep = pd.read_csv('immo_var_to_keep.csv', sep=',', na_values='None')

In [8]:
to_keep.columns

Index(['Unnamed: 0', 'type_of_property', 'subtype_of_property', 'locality',
       'province', 'région', 'price', 'number_of_facades', 'house_area',
       'house_area_cat', 'number_of_rooms', 'number_of_rooms_cat',
       'surface_of_the_land', 'surface_of_the_land_cat',
       'fully_equipped_kitchen', 'garden', 'garden_area', 'terrace',
       'terrace_area', 'open_fire', 'swimming_pool', 'state_of_the_building',
       'construction_year', 'construction_year_cat'],
      dtype='object')

In [12]:
to_keep.head(3)

,Unnamed: 0,type_of_property,subtype_of_property,locality,province,région,price,number_of_facades,house_area,house_area_cat,...,fully_equipped_kitchen,garden,garden_area,terrace,terrace_area,open_fire,swimming_pool,state_of_the_building,construction_year,construction_year_cat
0,0,house,house,1050,Bruxelles-Capitale,Région Bruxelles-capitale,340000.0,2.0,203.0,]180-240 m²],...,1,0,NaN,1,NaN,0,0,to be done up,1901.0,1900-1919
1,1,house,villa,1880,Brabant flamand,Région flamande,525000.0,4.0,250.0,]240m²- ],...,1,1,430.0,1,40.0,0,0,as new,1992.0,1980-1999
2,2,house,exceptional property,4900,Liège,Région wallonne,550000.0,4.0,475.0,]240m²- ],...,1,1,1400.0,1,NaN,0,0,good,1853.0,older than 1900

## Missing data

In [5]:
to_keep.isnull().sum()

Unnamed: 0                     0
type_of_property               0
subtype_of_property            0
locality                       0
province                       0
région                         0
price                         70
number_of_facades          13106
house_area                  8430
house_area_cat              8430
number_of_rooms                0
number_of_rooms_cat            0
surface_of_the_land        21840
surface_of_the_land_cat    21840
fully_equipped_kitchen         0
garden                         0
garden_area                42492
terrace                        0
terrace_area               33746
open_fire                      0
swimming_pool                  0
state_of_the_building      13172
construction_year          20959
construction_year_cat      20959
dtype: int64

## 1. Type & subtype of properties

In [13]:
to_keep.groupby(['type_of_property']).subtype_of_property.count()

type_of_property
apartment    21840
house        29002
Name: subtype_of_property, dtype: int64

In [10]:
to_keep.groupby(['type_of_property', 'subtype_of_property']).subtype_of_property.count()

type_of_property  subtype_of_property
apartment         apartment               16904
                  duplex                   1371
                  flat studio               852
                  ground floor             1170
                  kot                        84
                  loft                      216
                  penthouse                 886
                  service flat              284
                  triplex                    73
house             apartment block          1039
                  bungalow                  280
                  castle                     10
                  chalet                    138
                  country cottage           317
                  exceptional property      447
                  farmhouse                 143
                  house                   21810
                  manor house                85
                  mansion                   459
                  mixed use building        983
                  other property             85
                  pavilion                    1
                  town house                409
                  villa                    2796
Name: subtype_of_property, dtype: int64

## 2. Provinces & régions

In [14]:
to_keep.groupby(['province']).province.count()

province
Anvers                  6309
Brabant flamand         4440
Brabant wallon          1912
Bruxelles-Capitale      4394
Flandre-Occidentale    10120
Flandre-Orientale       6438
Hainaut                 5681
Limbourg                3109
Liège                   4929
Luxembourg              1472
Namur                   2038
Name: province, dtype: int64

In [17]:
to_keep.groupby(['région']).région.count()

région
Région Bruxelles-capitale     4394
Région flamande              30416
Région wallonne              16032
Name: région, dtype: int64

## 3. number_of_facades

## 4. house_area_cat

## 5. number_of_rooms_cat

## 6. garden

## 7. terrace

## 8. open_fire

## 9. state_of_the_building

## 10. construction_year_cat