# C. Descriptive : sample description

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
to_keep = pd.read_csv('DEF_IMMO.csv', sep=',', na_values='None')

In [3]:
to_keep.columns

Index(['Unnamed: 0', 'type_of_property', 'subtype_of_property', 'locality',
       'province', 'région', 'price', 'number_of_facades', 'house_area',
       'house_area_cat', 'number_of_rooms', 'number_of_rooms_cat',
       'surface_of_the_land', 'surface_of_the_land_cat',
       'fully_equipped_kitchen', 'garden', 'garden_area', 'terrace',
       'terrace_area', 'open_fire', 'swimming_pool', 'state_of_the_building',
       'construction_year', 'construction_year_cat'],
      dtype='object')

In [4]:
to_keep.head(3)

,Unnamed: 0,type_of_property,subtype_of_property,locality,province,région,price,number_of_facades,house_area,house_area_cat,...,fully_equipped_kitchen,garden,garden_area,terrace,terrace_area,open_fire,swimming_pool,state_of_the_building,construction_year,construction_year_cat
0,0,house,house,1050,Bruxelles-Capitale,Région Bruxelles-capitale,340000.0,2.0,203.0,]180-240 m²],...,1,0,NaN,1,NaN,0,0,to be done up,1901.0,1900-1919
1,1,house,villa,1880,Brabant flamand,Région flamande,525000.0,4.0,250.0,]240m²- ],...,1,1,430.0,1,40.0,0,0,as new,1992.0,1980-1999
2,2,house,exceptional property,4900,Liège,Région wallonne,550000.0,4.0,475.0,]240m²- ],...,1,1,1400.0,1,NaN,0,0,good,1853.0,older than 1900

## Missing data

In [5]:
to_keep.isnull().sum()

Unnamed: 0                     0
type_of_property               0
subtype_of_property            0
locality                       0
province                       0
région                         0
price                          0
number_of_facades          10644
house_area                   109
house_area_cat               109
number_of_rooms                0
number_of_rooms_cat            0
surface_of_the_land        22026
surface_of_the_land_cat    22026
fully_equipped_kitchen         0
garden                         0
garden_area                34471
terrace                        0
terrace_area               26114
open_fire                      0
swimming_pool                  0
state_of_the_building      10247
construction_year          16205
construction_year_cat      16205
dtype: int64

## 1. Type & subtype of properties

In [6]:
to_keep.groupby(['type_of_property']).subtype_of_property.count()

type_of_property
apartment    19852
house        22482
Name: subtype_of_property, dtype: int64

In [7]:
to_keep.groupby(['type_of_property', 'subtype_of_property']).subtype_of_property.count()

type_of_property  subtype_of_property
apartment         apartment               15329
                  duplex                   1278
                  flat studio               724
                  ground floor             1098
                  kot                        67
                  loft                      199
                  penthouse                 830
                  service flat              255
                  triplex                    72
house             apartment block           790
                  bungalow                  226
                  castle                      7
                  chalet                    112
                  country cottage           236
                  exceptional property      380
                  farmhouse                  98
                  house                   16645
                  manor house                68
                  mansion                   394
                  mixed use building        737
                  other property             57
                  pavilion                    1
                  town house                356
                  villa                    2375
Name: subtype_of_property, dtype: int64

## 2. Provinces & régions

In [8]:
to_keep.groupby(['province']).province.count()

province
Anvers                 5509
Brabant flamand        3887
Brabant wallon         1806
Bruxelles-Capitale     4258
Flandre-Occidentale    7669
Flandre-Orientale      5234
Hainaut                4342
Limbourg               2624
Liège                  4177
Luxembourg             1181
Namur                  1647
Name: province, dtype: int64

In [9]:
to_keep.groupby(['région']).région.count()

région
Région Bruxelles-capitale     4258
Région flamande              24923
Région wallonne              13153
Name: région, dtype: int64

## 3. number_of_facades

In [10]:
to_keep.groupby(['number_of_facades']).province.count()

number_of_facades
1.0      460
2.0    15369
3.0     7610
4.0     8251
Name: province, dtype: int64

## 4. house_area_cat

In [11]:
to_keep.groupby(['house_area_cat']).province.count()

house_area_cat
[0-60 m²]        2699
]120-180 m²]    11653
]180-240 m²]     5803
]240m²- ]        5245
]60-120 m²]     16825
Name: province, dtype: int64

## 5. number_of_rooms_cat

In [12]:
to_keep.groupby(['number_of_rooms_cat']).province.count()

number_of_rooms_cat
0 chambre(s)      811
1 chambre(s)     4313
2 chambre(s)    14063
3 chambre(s)    13559
4 chambre(s)     5935
5 et plus        3653
Name: province, dtype: int64

## 6. garden

In [13]:
to_keep.groupby(['garden']).province.count()

garden
0    28974
1    13360
Name: province, dtype: int64

## 7. terrace

In [14]:
to_keep.groupby(['terrace']).province.count()

terrace
0    16486
1    25848
Name: province, dtype: int64

## 8. open_fire

In [15]:
to_keep.groupby(['open_fire']).province.count()

open_fire
0    40135
1     2199
Name: province, dtype: int64

## 9. state_of_the_building

In [16]:
to_keep.groupby(['state_of_the_building']).province.count()

state_of_the_building
as new            12486
good              11599
just renovated     2271
to be done up      2986
to renovate        2588
to restore          157
Name: province, dtype: int64

## 10. construction_year_cat

In [17]:
to_keep.groupby(['construction_year_cat']).province.count()

construction_year_cat
1900-1919            801
1920-1939           1719
1940-1959           2172
1960-1979           5672
1980-1999           3247
2000-              11811
older than 1900      707
Name: province, dtype: int64